.ConteinerFondo{
    background: linear-gradient(180deg, #A378D8 0%, #9DA4F2 100%);
    background-size: cover;
    width: 800px;
    height: 1000px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}

.ConteinerFondoEncuesta{
    width: 600px;
    display: flex;
    float: right;
    justify-content: center;
    align-items: center;
}


